<!doctype html>
<html ng-app="quizApp">
<head>
  <meta charset="utf-8">
  <title>NumberQuiz</title>

  <!-- LINK TO STYLE -->
  <link rel="stylesheet" type="text/css" href="./css/style.css">
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'/>

  <!-- EXTERNAL JS RESOURCES -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>

    
  <!-- INTERNAL JS RESOURCES -->
  <script src="./js/app.js"></script>
  <script src="./js/questionsController.js"></script>

</head>

  <body ng-controller="QuestionsController as questions">

    <header>
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container navCopy">
          <div class="navbar-header">
            <a class="navbar-brand" ui-sref="home">NumberWang</a>
          </div>
          <div id="navbar">
            <ul class="nav navbar-nav navbar-right">
              <li><a role="button" ng-click="questions.startQuiz()">Start quiz</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main>

    <section id="welcome-goodbye">  
            <div id="startContainer" class="container theme-showcase mainBox">  
                
                <div id="welcomeMessage">
                  <h2>Welcome to NumberWang!</h2>
                  <h3>Rules of the game:</h3>
                  <h4>You will be shown 5 numbers: the game is to guess which of the facts shown refers to each number.</h4>
                  <h4>For every correct answer, you will get one point. Make sure you have a go at answering all questions, as not picking an option equals to getting a wrong answer.</h4>
                  <h3>Good luck!</h3>
                </div>

                <div id="resultMessage">
                  <h2>{{questions.message}}</h2> 
                <h3>You got the following questions wrong. Read 'em and weep:</h3>
                     <div id="correct-answers" ng-repeat="correctAnswer in questions.correctAnswerArray">
                      <li>{{correctAnswer}}</li>
                </div>
                </div>

                <div id="submitButton">
                  <input type="submit" class="btn btn-primary" id="start-button" value="Start game" ng-click="questions.startGame()">
                </div>
            </div>
    </section>

    <section id="main-game">  
        <div class="questionContainer container theme-showcase mainBox"> 
          <form class="questionForm" ng-submit="questions.checkAnswer()"> 
            <h2>Question: {{questions.remainingTurns}}</h2>
            <h2 id="qNumber">{{questions.number}} is...</h2>
            <div ng-repeat="answer in questions.possibleAnswers track by $index | orderBy : random">
              <label>
                <input class="displayedAnswers" ng-model="questions.userAnswer" name="answer" value="{{answer}}" type="radio"> {{answer}}
              </label>
              <br><br>
            </div>

            <div class="col-sm-2"><h4>Score: {{questions.correctAnswerCounter}}/5</h4></div>
            <div class="col-sm-4"><h4>Wrong Answers: {{questions.wrongAnswerCounter}}/5</h4></div>
            <div id="submitButton" class="col-sm-4">
              <input id="nextButton" type="submit" class="btn btn-primary" value="Next question">
            </div>
          </form> 
        </div>
    </section>  

    </main>


  </body>
</html>